.chat-main
  %ul.chat-main__group-info
    %li.chat-main__group-name
      = @group.name
    %li.chat-main__group-list
      - @group.users.each do |user|
        =user.name
    .chat-main__edit-button
      = link_to edit_group_path(@group) do
        Edit            
  
  .chat-main__messagelist
    = render @messages
       
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'


      